body {
    margin: 0;
    background-image: url("../images/back-ground.png");
    background-repeat: no-repeat;
    background-size: cover;
    outline: 2px solid black;
}

nav img {
    border-radius: 50%;
    height: 50px;
    margin: auto;
}


nav ul li {

}